li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #DF711B;
    &:hover{
        color: #64C9CF;
        text-decoration: underline;
    }
}

.main__more {
    text-align: center;
}
