.header {
  width: 100%;
  height: auto;
  min-height: 50%;
  display: flex;
  align-items: center;
  background: #64c9cf;
  clip-path: polygon(0 85%, 0 0, 100% 0, 100% 100%);
}

.header__container {
  margin-left: 250px;
}

.header__text {
  font-size: 100px;
  color: #fde49c;
}
.header__button {
  margin: 20px 0 20px 10px;
  border: none;
  height: 80px;
  width: 300px;
  background: linear-gradient(90deg, #ffb740 0%, #df711b 100%);
  border-radius: 300px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 16px;
  padding: 25px 80px;
  transition: all 0.5s;

  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
  }
}

.header__logo {
    width: 650px;
    height: auto;
    margin-right: 150px;   
}
