li {
  margin-bottom: 10px;
}
.weekday {
  display: inline-block;
  margin-left: 15px;
  height: 25px;
  text-align: center;
  
  //width: 1%;
}
.weekend {
  display: block;
   transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   //margin-top: -10px;
  font-size: 16px;
}
.day {
  color: #DF711B;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

